<ion-header>
  <ion-navbar>
    <!-- <ion-title>{{'Login'}}</ion-title> -->
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="wrapper-container">
    <div class="col-12">
      <div class="text-container">
        <div class="row justify-content-md-center">
          <div class="col-11" style="width: 80%;margin: 0px auto;">
            <div class="login-container">
              <div class="login-header">
                <span>EN-GAGE</span> CONNECT
              </div>
              <div class="login-body">
                <!-- <form> -->
                  <div class="input-fields">
                    <input type="text" class="form-field"  [(ngModel)] ="model.userName" placeholder="Username" name="username" />
                    <div class="error-field"></div>
                  </div>
                  <div class="input-fields">
                    <input type="password" class="form-field" [(ngModel)] ="model.userPassword" placeholder="Password" name="password" />
                    <div class="error-field"></div>
                  </div>
                  <div class="input-fields" *ngIf="false">
                    <div class="row">
                      <div class="col-4" *ngIf="false">
                        <div class="toggle-switch">
                          <input type="checkbox" id="switch" />
                          <label for="switch"></label>
                        </div>
                      </div>
                      <div class="col-8 text-right">
                        <div class="cb-wrap">
                          <input type="checkbox" id="forgot" />
                          <label class="box" for="forgot"></label>
                          <a href="">Forgot Password?</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row"></div>
                  <div class="input-fields text-center">
                    <button type="submit" class="main-btn" (click) = "doLogin()">Login</button>
                    <div>
                      <a href="">Forgot Password?</a>
                    </div>
                  </div>
                <!-- </form> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>