// Common list styles can be found in "./common.styles/layouts/lists"
list-2-page {
    @import "../../../node_modules/font-awesome/scss/font-awesome";
	ion-toolbar {
		@include header-styles(color($colors, header, base), color($colors, header, contrast));
		background-color: color($colors, header, base);
	}
	ion-content {
		position: relative !important; 
	}
	.list-mini-content
	{
		background-color: color($colors, walkthrough-header, base);

		.list-mini
		{
			@include layout-list-styles($theme-color-5, $white-d);

			ion-list {
				.list-item
				{
					.content-row
					{
						.item-title {
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
						}

						&.one-line
						{
							align-items: center;

							.item-description
							{
								overflow: hidden;
								text-overflow: ellipsis;
								white-space: nowrap;
							}
						}
					}
				}
			}
		}

		// .list-big
		// {
		// 	// @include layout-list-styles($theme-color-2, $white-d);

		// 	ion-list {
		// 		.list-item
		// 		{
					
		// 			.content-row
		// 			{
		// 				align-items: center;
		// 			}

		// 			.item-content
		// 			{
		// 				align-content: stretch;
		// 			  display: flex;
		// 			  flex-wrap: wrap;
		// 			  align-self: stretch;

		// 				.item-title
		// 				{
		// 					margin-bottom: 8px;
		// 					overflow: hidden;
		// 					text-overflow: ellipsis;
		// 					white-space: nowrap;
		// 				}

		// 				.item-description
		// 				{
		// 					@include multi-line-ellipsis($list-big-description-font-size);
		// 				}
		// 			}
		// 		}
		// 	}
		// }
		
	}
}
