<ion-header>
  <ion-navbar>
    <ion-title>{{ 'School Master List'}}</ion-title>

  </ion-navbar>
  <button ion-button style="background-color: #89060c !important;float: right;" (click)="goToSchoolCreation()">
    Add School
  </button>
</ion-header>

<ion-content class="list-mini-content">

  <div class="list-mini">
    <!-- <button *ngIf="!!list2.items" ion-button style="background-color: #89060c !important;" (click)="goToSchoolCreation()">
      Add School
    </button> -->
    <ion-list>
      <button class="list-item" ion-item *ngFor="let item of list2.items" (click)="goToSchool(item)">
        <ion-row no-padding class="content-row one-line">
          <!-- You can limit the rows of the description by using the class one-line. If you remove it, all the content from the row will be shown -->
          <ion-col no-padding width-18 class="item-avatar">
            <preload-image class="avatar-image" [ratio]="{w:1, h:1}" [src]="item.schoolImageName"></preload-image>
          </ion-col>
          <ion-col no-padding width-72 class="item-content">
            <h3 class="item-title">{{item.schoolName}}</h3>
            <p class="item-description">{{item.houseNumber}}</p>
          </ion-col>
          <ion-col no-padding width-10 class="item-icon">
            <ion-icon name="arrow-forward"></ion-icon>
          </ion-col>
        </ion-row>
      </button>
    </ion-list>
  </div>
</ion-content>