<ion-header>
    <ion-navbar>
        <ion-title>{{'School Master Creation' }}</ion-title>
        <!-- <ion-buttons style="background-color: red !important;" end>
            <button ion-button icon-only style="background-color: red !important;">
                <ion-icon class="toolbar-icon" name="log-out" style="background-color: red !important;"></ion-icon>
            </button>
        </ion-buttons> -->
    </ion-navbar>
</ion-header>

<ion-content padding class="forms-validations-content">
    <section class="form-section">
        <ion-row no-padding class="multi-input-row">
            <ion-col>
                <ion-item>
                    <ion-label floating>{{'School Type' }}</ion-label>
                    <ion-select [(ngModel)]="school.schoolType" cancelText="{{ 'CANCEL'  }}" okText="{{ 'OK'  }}">
                        <ion-option *ngFor="let option of masters.SchoolTypes" [value]="option.name">{{ option.name }}</ion-option>
                    </ion-select>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row no-padding class="multi-input-row">
            <ion-col>
                <ion-item>
                    <ion-label floating>{{'School Name' }}</ion-label>
                    <ion-input type="text" [(ngModel)]="school.schoolName" class="form-controll" required></ion-input>
                </ion-item>
            </ion-col>

        </ion-row>
        <ion-row no-padding *ngIf="school.schoolImageName">
            <ion-col class="item-avatar">
                <preload-image class="avatar-image" [ratio]="{w:5, h:4}" [src]="school.schoolImageName" alt="this is the image" title="IMAGE!"></preload-image>
            </ion-col>
        </ion-row>
        <ion-row no-padding>
            <ion-col>
                <!-- <ion-item> -->
                <button ion-button medium style="background-color: #fc0704 !important;" (click)="getImage()">
                    <ion-icon name="camera"></ion-icon>
                    &nbsp; &nbsp;
                    <h3 class="button-title">{{ 'Take School Photo' }}</h3>
                </button>
                <!-- </ion-item> -->
            </ion-col>
        </ion-row>
        <ion-row no-padding class="multi-input-row">
            <ion-col width-50>
                <ion-item>
                    <ion-label floating>{{'House Number' }}</ion-label>
                    <ion-input type="text" [(ngModel)]="school.houseNumber" class="form-controll" required></ion-input>
                </ion-item>
            </ion-col>
            <ion-col width-50>
                <ion-item>
                    <ion-label floating>{{'House Street' }}</ion-label>
                    <ion-input type="text" [(ngModel)]="school.street" class="form-controll" required></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row no-padding class="multi-input-row">
            <ion-col width-50>
                <ion-item>
                    <ion-label floating>{{'House Area' }}</ion-label>
                    <ion-input type="text" [(ngModel)]="school.area" class="form-controll" required></ion-input>
                </ion-item>
            </ion-col>
            <ion-col width-50>
                <ion-item>
                    <ion-label floating>{{'LGA' }}</ion-label>
                    <ion-input type="text" [(ngModel)]="school.lGA" class="form-controll" required></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>

        <ion-row no-padding class="multi-input-row">
            <ion-col>
                <ion-item>
                    <ion-label floating>{{'City' }}</ion-label>
                    <ion-select [(ngModel)]="school.cityId" cancelText="{{ 'CANCEL'  }}" okText="{{ 'OK'  }}">
                        <ion-option *ngFor="let option of masters.CityNewMaster" [value]="option.id">{{ option.name }}</ion-option>
                    </ion-select>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row no-padding class="multi-input-row">
            <ion-col>
                <ion-item>
                    <ion-label floating>{{'State' }}</ion-label>
                    <ion-select [(ngModel)]="school.stateId" cancelText="{{ 'CANCEL'  }}" okText="{{ 'OK'  }}">
                        <ion-option *ngFor="let option of masters.StateMaster" [value]="option.id">{{ option.name }}</ion-option>
                    </ion-select>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row no-padding class="multi-input-row">
            <ion-col>
                <ion-item>
                    <ion-label floating>{{'Country' }}</ion-label>
                    <ion-select [(ngModel)]="school.countryId" cancelText="{{ 'CANCEL'  }}" okText="{{ 'OK'  }}">
                        <ion-option *ngFor="let option of masters.CountryMaster" [value]="option.id">{{ option.name }}</ion-option>
                    </ion-select>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row no-padding class="multi-input-row">
            <ion-col>
                <ion-item>
                    <ion-label floating>{{'Landmark' }}</ion-label>
                    <ion-input type="text" [(ngModel)]="school.landMark" class="form-controll" required></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row no-padding class="multi-input-row">
            <ion-col>
                <ion-item>
                    <b>Lat :</b> {{school.schoolLatitudeCoordinate}}
                    <b>Long :</b> {{school.schoolLongitudeCoordinate}}

                    <!-- <ion-label floating>{{'GeoLocation' }}</ion-label>
                    <ion-input type="text" [(ngModel)]="school.geoCoordinate" required></ion-input> -->
                    <button item-right clear (click)="getLocation()">
                        <ion-icon tappable name="navigate" item-right></ion-icon>
                    </button>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row no-padding class="multi-input-row">
            <ion-col>
                <ion-item>
                    <ion-label floating>{{'Priciple Name' }}</ion-label>
                    <ion-input type="text" [(ngModel)]="school.principalName" class="form-controll" required></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row no-padding class="multi-input-row">
            <ion-col>
                <ion-item>
                    <ion-label floating>{{'Principle Phone Number' }}</ion-label>
                    <ion-input type="tel" [(ngModel)]="school.phoneNumber" maxlength="11" class="form-controll" required></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>

        <ion-row no-padding class="multi-input-row">
            <ion-col>
                <ion-item>
                    <ion-label floating>{{'School Phone Number' }}</ion-label>
                    <ion-input type="tel" [(ngModel)]="school.schoolPhoneNumber" maxlength="11" class="form-controll" required></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row no-padding class="multi-input-row">
            <ion-col>
                <ion-item>
                    <ion-label floating>{{'Total Population' }}</ion-label>
                    <ion-input type="number" [(ngModel)]="school.totalPopulation" class="form-controll" required></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row no-padding class="multi-input-row">
            <ion-col>
                <ion-item>
                    <ion-label floating>{{'Total Education Level' }}</ion-label>
                    <ion-select [(ngModel)]="school.totalEducationlevel" cancelText="{{ 'CANCEL'  }}" okText="{{ 'OK'  }}">
                        <ion-option *ngFor="let option of masters.EducationLevel" [value]="option.name">{{ option.name }}</ion-option>
                    </ion-select>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row no-padding class="multi-input-row">
            <ion-col>
                <ion-item>
                    <ion-label floating>{{'Nursary To Primary Population' }}</ion-label>
                    <ion-input type="number" [(ngModel)]="school.nursaryToPrimary3Population" OnlyNumber="true" class="form-controll" required></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
    </section>
    <button class="btnSave" (click)="saveConfirm()" ion-button full type="button">{{buttonText}}</button>
    <!-- <button class="btnSave" (click)="goToList()" ion-button full type="button">{{'Cancel'}}</button> -->
</ion-content>